---
# The scss file which include files from _sass/
---

 @charset "UTF-8";
 @import '../_sass/typography';



 /*
  * Basscss Variable Overrides
  */

  // $container-width: 44em;


 /*
  * General Classes
  */

 // .container { max-width: $container-width; }
 .logo {
    height: $img-xs;
    width: $img-xs;
    margin-right: 1em;
  }

 /*
  * Custom Classes
  */
