/*
 * Site Variables
 */

 /* Color Variables */

 $white: #FFFFFF;
 $gray: #AAAAAA;
 $dark-gray: #4E4E4E;
 $black: #111111;

 /* Typography Variables */

 $font-family: 'Merriweather', 'Times New Roman', 'Times', serif;
 $heading-font-family: 'Roboto', Helvetica, sans-serif;

 $body-font-size: 100%;
 $line-height: 1.8;
 $body-font-weight: 300;
 $heading-font-weight: 300;
 $heading-line-height: 1.25;
 $font-scale-factor: 1.125;

 $h1: 2rem * $font-scale-factor;
 $h2: 1.5rem * $font-scale-factor;
 $h3: 1.25rem * $font-scale-factor;
 $h4: 1rem * $font-scale-factor;
 $h5: .875rem * $font-scale-factor;
 $h6: .75rem * $font-scale-factor;

 $bold-font-weight: bold;
 $form-field-font-size: 1rem;
 $button-font-size: inherit;
 $button-font-weight: bold;
 $button-line-height: 1.125rem;

 /* Image Variables */

 $img-xs: 25px;
 $img-sm: 150px;
 $img-md: 300px;
 $img-lg: 600px;
 $img-xl: 1200px;
